@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

th {
	font-family: 'Montserrat', sans-serif;
}

td, button{
	font-family: 'Raleway', sans-serif;
}


@media only screen and (max-width: 767px) {
  #estateOverviewCard {
  		width:80%;
	}
}


