<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <table class="table">
      <thead>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Description</th>
          <td></td>
        </tr>
        <tr>
          <th scope="row">Location</th>
          <td>{{estate.location}}</td>
        </tr>
        <tr>
          <th scope="row">Price</th>
          <td>{{estate.price}}</td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-success">Details</button>
  </div>
</div>
