
<div class="container">
	<div class="row">
		<div class="col-md-6 col-sm-12 py-4 order-2 order-sm-2  order-md-1">
			<app-estates-list></app-estates-list>
		</div>
		<div class="col-md-6 col-sm-12 order-1 order-sm-1 order-md-2">

			<div *ngIf="choosenEstate == null;else elseSection "> 
				Please chose an estate you want to know more about
			</div>
			
			<ng-template #elseSection>
				<app-estate-detail [choosenEstate]="choosenEstate"></app-estate-detail>
			</ng-template>
			
		</div>
	</div>
</div>
