
<div class="border">
	<div class="card" style="width: 100%;">
	  <img class="card-img-top" src="{{choosenEstate.imgSrc}}" alt="Card image cap">
	  <div class="card-body">
	    <h5 class="card-title">{{choosenEstate.title}}</h5>
	    <p class="card-text">{{choosenEstate.longDescription}}</p>
	    <table class="table mr-auto w-75">
		  <thead class="">
		  </thead>
		  <tbody>
		    <tr>
		      <th scope="row">price:</th>
		      <td>{{choosenEstate.price}}</td>
		    </tr>
		    <tr>
		      <th scope="row">location</th>
		      <td>{{choosenEstate.location}}</td>
		    </tr>
		    <tr>
		      <th scope="row">square meters</th>
		      <td>{{choosenEstate.squareMeters}}</td>
		    </tr>
		    <tr>
		      <th scope="row">year of build</th>
		      <td>{{choosenEstate.yearOfBuild}}</td>
		    </tr>
		  </tbody>
		</table>
	  </div>
	</div>
</div>
